__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
env/
.eggs/
*.egg-info/
*.egg
.idea/
.vscode/
*.log
*.pot
*.pyc
db.sqlite3
dist/
build/
*.spec
.pytest_cache/
.coverage
htmlcov/
.tox/
.hypothesis/
.mypy_cache/
.ruff_cache/
.git/
.gitignore
.env
.env.*
*.md